.editarea {
  position: relative;
  border: 1px solid #BEBEBE;
  border-radius: 2px;
  box-sizing: border-box;
  width: 100%;
  padding: 0 10px 10px 10px;
  display: inline-block;
  vertical-align: middle;
  outline: none;
  resize: none;

  &:focus {
    box-shadow: 0 0 5px #3260CA;
  }

  &:disabled {
    color: #929292;
  }

  &__buttons {
    border-bottom: 1px solid #bebebe;
    margin: 0 -10px 10px;
  }

  &__input {
    border: none;
    font-size: 15px;
    line-height: 22px;
    height: 200px;
    width: 100%;
    outline: none;
    resize: none;
  }

  &__button {
    background: none;
    border: none;
    font-size: 13px;
    cursor: pointer;
    padding: 6px 10px 4px;
    outline: none;

    &:hover {
      border-bottom: 3px solid #bebebe;
      padding-bottom: 1px;
    }

    &--bold {
      font-weight: bold;
    }

    &--italic {
      font-style: italic;
    }
  }
}
