.blank-page {
  margin: 0 auto;
  padding: 30px 0;
  max-width: 780px;

  &__head {
    padding: 0 40px;
    font-size: 17px;
    font-weight: bold;
  }

  &__buttons {
    padding: 20px 40px 0;
  }
}
