.paginator {
  margin-top: 30px;
  overflow: auto;
  font-size: 0;
  white-space: nowrap;
  font-family: monospace;

  &__page {
    display: inline-block;
    padding: 5px;
    font-size: 20px;
    text-decoration: none;
    color: #3098b4;
    text-align: center;

    &:hover {
      color: #4eafc9;
    }
  }

  &__current {
    font-size: 20px;
    display: inline-block;
    padding: 5px;
    text-align: center;
  }

  & * + &__page,
  & * + &__current {
    margin-left: 3px;
  }
}
