<h1 class="head">Добавить модуль</h1>
<article class="content">
  <form action="" class="form">
    <div class="form__item">
      <label for="name" class="form__label">Название</label>
      <div class="form__inp-contain">
        <input type="text" class="form__inp" value="" name="name" id="name" />
      </div>
    </div>
    <div class="form__item">
      <label for="alias" class="form__label">Веб-имя</label>
      <div class="form__inp-contain">
        <input type="text" class="form__inp" value="" name="alias" id="alias" />
      </div>
    </div>
    {% if count(modules) %}
    <div class="form__item">
      <label for="module" class="form__label">Модуль</label>
      <div class="form__inp-contain">
        <select name="module" id="module">
          <option value="default">Стандартный</option>
          {% for modulesItem in modules %}
          <option value="{{ modulesItem }}">{{ modulesItem }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    {% endif %}
    <div class="form__separate"><span class="form__separate-text">Поля</span></div>
    <div class="form__table" role="module-fields">
      <table class="form-table">
        <colgroup>
          <col width="38%" />
          <col width="38%" />
          <col width="*" />
          <col width="30" />
        </colgroup>
        <thead>
          <tr class="form-table__row form-table__row--head">
            <th class="form-table__cell">Заголовок</th>
            <th class="form-table__cell">Веб-имя</th>
            <th class="form-table__cell">Тип</th>
            <th></th>
          </tr>
        </thead>
        <tbody role="tbody-module-fields">
          {% include "sections/configs/table-module-fields" %}
        </tbody>
      </table>
      <div class=""><button role="btn-add-field" class="form__btn" type="button">Добавить поле</button></div>
    </div>
    <div class="form__submit">
      <button class="form__btn form__btn--submit">Сохранить</button>
      <button type="button" class="form__btn">Отменить</button>
    </div>
  </form>
</article>
{% require_template "sections/configs/table-module-fields" %}
