{% for index, field in fields %}
<tr class="form-table__row" data-key="{{ index }}">
  <td class="form-table__cell"><input type="text" class="form__inp" value="{{ field['title'] }}" role="field-title" /></td>
  <td class="form-table__cell"><input type="text" class="form__inp" value="{{ field['alias'] }}" role="field-alias" /></td>
  <td class="form-table__cell">
    <label class="select">
      <select class="form__select" role="field-type">
    {% hasSettings = false %}
    {% for type in types %}
        <option value="{{ type['alias'] }}"{% if field['type'] == type['alias'] %} selected{% endif %}>{{ type['name'] }}</option>
      {% if field['type'] == type['alias'] %}
        {% if type['hasSettings'] %}
          {% hasSettings = true %}
        {% endif %}
      {% endif %}
    {% endfor %}
      </select>
    </label>
  </td>
  <td class="form-table__cell">
    {% if hasSettings %}
    <button class="form__btn" type="button" role="btn-config-field">Н</button>
    {% endif %}
  </td>
  <td class="form-table__cell">
    {% if count(fields) > 1 %}
    <button class="form__btn" type="button" role="btn-remove-field">X</button>
    {% endif %}
  </td>
</tr>
{% endfor %}
