.form__btn--submit {
  background-color: #5B4970;
  background-image: linear-gradient(-180deg, #79688e 0%, #5B4970 96%);
  box-shadow: 0px 1px 0px 0px rgba(199,199,199,0.50);
  color: #FFFFFF;
}

.form__btn--submit:hover {
  background-image: linear-gradient(-180deg, #89799d 0%, #6f5d85 96%);
}

.form__btn--submit:active {
  background-image: linear-gradient(-180deg, #89799d 0%, #6f5d85 96%);
  box-shadow: 0 1px 2px #676767 inset;
}

.form__btn--submit:disabled {
  background-image: linear-gradient(-180deg, #FFFFFF 0%, #E8E8E8 96%);
}
