.form__separate {
  font-size: 14px;
  position: relative;
  overflow: hidden;
  padding: 15px 40px;
  text-align: center;
}

.form__separate:after {
  content: '';
  position: absolute;
  left: 40px;
  top: 0;
  right: 40px;
  height: 1px;
  background-color: #e8e8e8;
  top: 50%;
  z-index: 1;
}
