.form__checkbox-label {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  border: 1px solid #BEBEBE;
  border-radius: 2px;
  margin-right: 5px;
  line-height: 38px;
  cursor: pointer;
  position: relative;
  background-color: #fff;

  &:before {
    content: '';
    position: absolute;
    background: inline('form__checkbox.svg') no-repeat;
    width: width('form__checkbox.svg');
    height: height('form__checkbox.svg');
    opacity: 0;
    top: 50%;
    left: 50%;
    margin: calc(height('form__checkbox.svg') / - 2) 0 0 calc(width('form__checkbox.svg') / - 2);
  }
}

input:checked + .form__checkbox-label:before {
  opacity: 1;
}
