.form__date-fake {
  position: absolute;
  z-index: 4;
  border: none;
  margin: 1px;
  width: 128px;
  font-size: 16px;
  line-height: 18px;
  box-sizing: border-box;
  height: 36px;
  padding: 0 10px;
  outline: none;
}
