.form__calendar-table {
  margin-top: 3px;

  td,
  th {
    padding: 4px 5px;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
  }

  th {
    font-size: 11px;
    text-transform: uppercase;
  }
}
