:root {
  --form-file-border-color: #888888;
  --form-file-border-color-hover: #D4595D;
}
.form__file {
  position: relative;
  width: 200px;
  height: 220px;
  display: block;
  overflow: hidden;
  margin-top: 10px;

  input {
    position: absolute;
    font-size: 200px;
    top: 0;
    cursor: pointer;
    width: 1000px;
    left: -800px;
    opacity: 0;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 3px dashed var(--form-file-border-color);
    box-sizing: border-box;
    border-radius: 15px;
  }

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    background: inline('form__file.svg') no-repeat;
    width: width('form__file.svg');
    height: calc(height('form__file.svg') / 2);
    margin: calc(height('form__file.svg') / - 4) 0 0 calc(width('form__file.svg') / - 2);
    cursor: pointer;
  }

  &:hover:before {
    border-color: var(--form-file-border-color-hover);
  }

  &:hover:after {
    background-position: 0 calc(height('form__file.svg') / -2);
  }
}
