.form__inp-empty {
  position: absolute;
  top: 2px;
  right: 15px;
  background: url('form__inp-empty.svg');
  width: width('form__inp-empty.svg');
  height: height('form__inp-empty.svg');
  z-index: 1;
  cursor: pointer;
}
