:root {
  --form-file-border-color: #888888;
  --form-file-border-color-hover: #D4595D;
}

.form {
  margin-top: 5px;

  &__area {
    border: 1px solid #BEBEBE;
    border-radius: 2px;
    font-size: 16px;
    line-height: 18px;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    display: inline-block;
    vertical-align: middle;
    outline: none;
    resize: none;
    height: 160px;

    &:focus {
      box-shadow: 0 0 5px #3260CA;
    }

    &:disabled {
      color: #929292;
    }
  }

  &__between-inp {
    display: inline-block;
    vertical-align: middle;
    height: 38px;
    line-height: 38px;
    margin: 0 3px;
  }

  &__btn {
    background-image: linear-gradient(-180deg, #FFFFFF 0%, #E8E8E8 96%);
    border: 1px solid #BEBEBE;
    color: #000;
    font-size: 15px;
    height: 38px;
    line-height: 18px;
    padding: 9px 20px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 2px;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;

    &:focus {
      box-shadow: 0 0 5px #3260CA;
    }

    & + & {
      margin-left: 25px;
    }

    &:hover {
      cursor: pointer;
      box-shadow: 0px 1px 0px 0px rgba(199,199,199,0.50);
      background-image: linear-gradient(-180deg, #FFFFFF 0%, #f0efef 96%);
    }

    &:active {
      box-shadow: 0 1px 0 #CACACA inset;
      background-image: linear-gradient(-180deg, #FFFFFF 0%, #f0efef 96%);
    }

    &:disabled {
      cursor: default;
      background-image: linear-gradient(-180deg, #FFFFFF 0%, #E8E8E8 96%);
      color: #9f9f9f;
    }

    &--delete {
      float: right;
      background-color: #5B4970;
      background-image: linear-gradient(to top, #ab5151 0%, #c76363 96%);
      box-shadow: 0px 1px 0px 0px rgba(199,199,199,0.50);
      color: #FFFFFF;

      &:hover {
        background-image: linear-gradient(to top, #ab6565 0%, #cd7d7d 96%);
      }

      &:active {
        background-image: linear-gradient(to top, #ab6565 0%, #cd7d7d 96%);
        box-shadow: 0 1px 2px #676767 inset;
      }

      &:disabled {
        color: #e6e6e6;
        background-image: linear-gradient(to top, #d09494 0%, #de9595 96%);
      }
    }

    &--right {
      float: right;
    }

    &--submit {
      background-color: #5B4970;
      background-image: linear-gradient(-180deg, #79688e 0%, #5B4970 96%);
      box-shadow: 0px 1px 0px 0px rgba(199,199,199,0.50);
      color: #FFFFFF;

      &:hover {
        background-image: linear-gradient(-180deg, #89799d 0%, #6f5d85 96%);
      }

      &:active {
        background-image: linear-gradient(-180deg, #89799d 0%, #6f5d85 96%);
        box-shadow: 0 1px 2px #676767 inset;
      }

      &:disabled {
        background-image: linear-gradient(-180deg, #FFFFFF 0%, #E8E8E8 96%);
      }
    }
  }

  &__calendar {
    position: absolute;
    z-index: 5;
    background-color: #fff;
    padding: 7px;
    border-radius: 3px;
    box-shadow: 0 2px 15px #969696;
    margin-left: -12px;
    /*opacity: 0;*/
    left: -9999px;
    transform: translate(0, -10px);
    transition: opacity 0.2s ease-out, transform 0.2s ease-out, left 0.2s step-end;

    &:before {
      content: '';
      position: absolute;
      top: -9px;
      left: 50%;
      margin-left: -9px;
      border-left: 9px solid transparent;
      border-bottom: 9px solid #FFF;
      border-right: 9px solid transparent;
    }

    &--show {
      opacity: 1;
      transform: translate(0,0);
      transition: opacity 0.2s ease-out, transform 0.2s ease-out, left 0s step-start;
    }

    &--top {
      &:before {
        border-bottom: 0;
        border-top: 9px solid #fff;
        top: auto;
        bottom: -9px;
      }
    }
  }

  &__calendar-arrow {
    position: absolute;
    top: 5px;
    cursor: pointer;

    &--left {
      background: url('form__calendar-arrow--left.svg') center center no-repeat;
      width: calc(width('form__calendar-arrow--left.svg') + 10);
      height: calc(height('form__calendar-arrow--left.svg') + 10);
      left: 10px;
    }

    &--right {
      background: url('form__calendar-arrow--right.svg') center center no-repeat;
      width: calc(width('form__calendar-arrow--right.svg') + 10);
      height: calc(height('form__calendar-arrow--right.svg') + 10);
      right: 10px;
    }
  }

  &__calendar-cell {
    margin: -4px;
    padding: 4px;
    cursor: pointer;
    display: block;

    &:hover {
      background-color: #dedede;
    }

    &--today {
      background-color: #e9cbb1;
    }
  }

  &__calendar-month {
    text-align: center;
  }

  &__calendar-table {
    margin-top: 3px;

    & td,
    & th {
      padding: 4px 5px;
      font-size: 14px;
      line-height: 16px;
      text-align: center;
    }

    & th {
      font-size: 11px;
      text-transform: uppercase;
    }
  }

  &__checkbox-label {
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    border: 1px solid #BEBEBE;
    border-radius: 2px;
    margin-right: 10px;
    line-height: 38px;
    cursor: pointer;
    position: relative;
    background-color: #fff;
    flex-shrink: 0;

    &::before {
      content: '';
      position: absolute;
      background: inline('form__checkbox.svg') no-repeat;
      width: width('form__checkbox.svg');
      height: height('form__checkbox.svg');
      opacity: 0;
      top: 50%;
      left: 50%;
      margin: calc(height('form__checkbox.svg') / - 2) 0 0 calc(width('form__checkbox.svg') / - 2);
    }
  }

  & input:nth-child(n+2) + &__checkbox-label {
    margin-left: 20px;
  }

  &__checkbox-label:last-child {
    margin-right: 0;
  }

  & input:checked + &__checkbox-label::before {
    opacity: 1;
  }

  & input:focus + &__checkbox-label {
    box-shadow: 0 0 6px #699EF5;
  }

  &__checkbox {
    position: absolute;
    left: -9999px;
  }

  &__date-fake {
    position: absolute;
    z-index: 4;
    border: none;
    margin: 1px;
    width: 128px;
    font-size: 16px;
    line-height: 18px;
    box-sizing: border-box;
    height: 36px;
    padding: 0 10px;
    outline: none;
  }

  &__error {
    position: absolute;
    top: 100%;
    left: 50%;
    z-index: 3;
    margin-top: 3px;
    transform: translateX(-50%);
    padding: 5px 10px;
    border-radius: 3px;
    border: 1px solid #e65f5f;
    font-size: 14px;
    line-height: 16px;
    color: #ca4848;
    background-color: #fff;
    text-align: center;
    white-space: nowrap;
  }

  &__file {
    position: relative;
    width: 200px;
    height: 220px;
    display: block;
    overflow: hidden;
    cursor: pointer;

    & input {
      position: absolute;
      font-size: 200px;
      top: 0;
      cursor: pointer;
      width: 1000px;
      left: -800px;
      opacity: 0;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 3px dashed var(--form-file-border-color);
      box-sizing: border-box;
      border-radius: 15px;
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      background: inline('form__file.svg') no-repeat;
      width: width('form__file.svg');
      height: calc(height('form__file.svg') / 3);
      margin: calc(height('form__file.svg') / -6) 0 0 calc(width('form__file.svg') / -2);
      cursor: pointer;
    }

    &--previewed::after {
      background-position: 0 calc(height('form__file.svg') / -6 * 4);
    }

    &:hover::before {
      border-color: var(--form-file-border-color-hover);
    }

    &:hover::after {
      background-position: 0 calc(height('form__file.svg') / -6 * 2);
    }

    &--choosen::after {
      margin: calc(height('form__file.svg') / - 4 + 30) 0 0 calc(width('form__file.svg') / - 2);
    }
  }

  &__file-wrap {
    margin-top: 10px;
    position: relative;
    display: inline-block;
    border-radius: 15px;

    &--active {
      box-shadow: 0 0 5px #3260CA;
    }
  }

  &__file-preview {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &__file-preview-contain {
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
    border-radius: 11px;
    background-size: cover;
    background-position: center;
  }

  &__file-filename {
    text-align: center;
    padding: 20px 20px;
    color: #616161;
    display: block;
    position: relative;
    z-index: 2;
  }

  &__file--previewed &__file-filename {
    color: #fff;
    text-shadow: 1px 0 0 #616161;
  }

  &__file-close {
    position: absolute;
    background: url('form__file-close.svg') no-repeat;
    width: width('form__file-close.svg');
    height: calc(height('form__file-close.svg') / 2);
    right: calc(width('form__file-close.svg') / - 2);
    top: calc(height('form__file-close.svg') / - 4);
    z-index: 1;
    cursor: pointer;

    &:hover {
      background-position: 0 calc(height('form__file-close.svg') / - 2);
    }
  }

  &__hint {
    display: block;
    margin-top: 5px;
    font-size: 12px;
    color: #656565;
    line-height: 18px;
    font-style: italic;
  }

  &__inp {
    border: 1px solid #BEBEBE;
    border-radius: 2px;
    font-size: 16px;
    line-height: 18px;
    box-sizing: border-box;
    width: 100%;
    height: 38px;
    padding: 0 10px;
    display: inline-block;
    vertical-align: middle;
    outline: none;

    &:focus,
    &.focus {
      box-shadow: 0 0 5px #3260CA;
    }

    &:disabled {
      color: #929292;
    }

    &--date {
      width: 160px;
      background-color: #fff;
    }

    &--date {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }

    &--date::-webkit-calendar-picker-indicator,
    &--date::-webkit-inner-spin-button,
    &--date::-webkit-clear-button {
      display: none;
      -webkit-appearance: none;
    }

    &--time {
      width: 100px;
      background-color: #fff;
    }

    &--time {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }

    &--time::-webkit-calendar-picker-indicator,
    &--time::-webkit-inner-spin-button,
    &--time::-webkit-clear-button {
      display: none;
      -webkit-appearance: none;
    }

    &--half-width {
      width: 50%;
    }

    &--very-short {
      width: 60px;
    }
  }

  &__inp-empty {
    position: absolute;
    top: 2px;
    right: 15px;
    background: url('form__inp-empty.svg');
    width: width('form__inp-empty.svg');
    height: height('form__inp-empty.svg');
    z-index: 1;
    cursor: pointer;
  }

  &__inp-contain {
    padding-bottom: 5px;
    margin-top: 10px;
    width: 50%;
    position: relative;

    &--flex {
      display: flex;
      align-items: center;
    }

    &--full-width {
      width: 100%;
    }

    &--scroll-wrap {
      overflow: scroll;
      max-height: 200px;
      padding: 0 5px;
      margin: 0 -5px;
    }
  }

  &__item {
    padding: 10px 40px;
  }

  &__label-text {
    display: inline-block;
    vertical-align: middle;
    flex-grow: 1;
  }

  &__label {
    color: #353535;
    font-size: 12px;
    font-weight: bold;
  }

  &__placeholder {
    position: relative;
  }

  &__radio-label {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid #888888;
    position: relative;
    cursor: pointer;
    background-color: #fff;
    flex-shrink: 0;

    &::before {
      content: '';
      position: absolute;
      background: inline('form__radio.svg') no-repeat;
      width: width('form__radio.svg');
      height: height('form__radio.svg');
      top: 50%;
      left: 50%;
      margin: calc(height('form__radio.svg') / - 2) 0 0 calc(width('form__radio.svg') / - 2);
      opacity: 0;
    }
  }

  & input:checked + &__radio-label::before {
    opacity: 1;
  }

  & input:focus + &__radio-label {
    box-shadow: 0 0 6px #699EF5;
  }

  &__radio {
    position: absolute;
    left: -9999px;
  }

  &__row-option {
    position: relative;
    font-size: 14px;
    margin-top: 5px;
    line-height: 38px;
  }

  &__row {
    margin-top: 5px;
  }

  &__select {
    border: 1px solid #BEBEBE;
    border-radius: 3px;
    font-size: 16px;
    line-height: 18px;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    height: 38px;
    position: relative;
    overflow: hidden;
    background-color: #fff;

    &.focus {
      box-shadow: 0 0 5px #3260CA;
    }

    &::before {
      content: '';
      position: absolute;
      width: 15px;
      height: 8px;
      right: 10px;
      top: 13px;
      z-index: 1;
      background: resolve('form__selecter-drop-arrow.svg') no-repeat;
    }

    & select {
      position: relative;
      z-index: 2;
      font-size: 16px;
      line-height: 20px;
      padding: 8px 35px 8px 10px;
      width: 100%;
      min-width: 120px;
      border: none;
      box-shadow: none;
      background-color: transparent;
      cursor: pointer;
      background-image: none;
      -webkit-appearance: none;
         -moz-appearance: none;
              appearance: none;
      text-indent: 0.01px;
      text-overflow: '';
    }

    & select:focus {
      outline: none;
    }

    & select:disabled {
      color: #929292;
      cursor: default;
    }

    & select::-ms-expand {
      display: none;
    }
  }

  &__separate-text {
    background-color: #FFF;
    display: inline-block;
    position: relative;
    z-index: 2;
    padding: 0 4px;
  }

  &__separate {
    font-size: 14px;
    position: relative;
    overflow: hidden;
    padding: 15px 40px;
    text-align: center;

    &::after {
      content: '';
      position: absolute;
      left: 40px;
      top: 0;
      right: 40px;
      height: 1px;
      background-color: #e8e8e8;
      top: 50%;
      z-index: 1;
    }
  }

  &__submit {
    margin-top: 20px;
    padding: 15px 40px;
    background-color: #F3F3F3;
    font-size: 0;
  }

  &__table {
    padding: 10px 40px;
  }

  &__time-fake {
    position: absolute;
    z-index: 4;
    border: none;
    margin: 1px;
    width: 65px;
    font-size: 16px;
    line-height: 18px;
    box-sizing: border-box;
    height: 36px;
    padding: 0 10px;
    outline: none;
  }
}
