.form__area {
  border: 1px solid #BEBEBE;
  border-radius: 2px;
  font-size: 16px;
  line-height: 18px;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  display: inline-block;
  vertical-align: middle;
  outline: none;
  resize: none;
  height: 160px;

  &:focus {
    box-shadow: 0 0 5px #3260CA;
  }

  &:disabled {
    color: #929292;
  }
}
