.form__inp--date {
  width: 160px;
  background-color: #fff;
}

.form__inp--date {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form__inp--date::-webkit-calendar-picker-indicator,
.form__inp--date::-webkit-inner-spin-button,
.form__inp--date::-webkit-clear-button {
  display: none;
  -webkit-appearance: none;
}
