.form__calendar-arrow--left {
  background: url('form__calendar-arrow--left.svg') center center no-repeat;
  width: calc(width('form__calendar-arrow--left.svg') + 10);
  height: calc(height('form__calendar-arrow--left.svg') + 10);
  left: 10px;
}
