.menu__item--active {
  background-color: #393939;
  position: relative;
}

.menu__item--active:after {
  content: '';
  position: absolute;
  border-left: 10px solid #393939;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  right: -10px;
  top: 0;
}
