.configs-table {
  &__table-container {
    width: auto;
    min-width: 100%;
    padding: 35px 50px 20px 5px;
    overflow: scroll;
    box-sizing: border-box;
  }

  &__table-cell {
    position: relative;
  }

  &__add-column {
    position: absolute;
    top: -5px;
    right: -10px;
    bottom: 10px;
    width: 20px;
    z-index: 1;
  }

  &__add-column-button {
    position: absolute;
    top: -25px;
    left: -99999999%;
    opacity: 0;
    transform: translate(-50%, 10px);
    transition: transform 0.15s ease, left 0.15s step-end, opacity 0.15s ease;

    &::after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: -5px;
      width: 0;
      height: 0;
      margin-left: -10px;
      border-style: solid;
      border-width: 10px 10px 0 10px;
      border-color: #e8e8e8 transparent transparent transparent;
    }
  }

  &__add-column:hover &__add-column-button {
    left: 50%;
    opacity: 1;
    transform: translate(-50%, 0);
    transition: transform 0.15s ease 0.1s, left 0s step-start 0.1s, opacity 0.15s ease 0.1s;
  }

  &__remove-column {
    position: absolute;
    top: -5px;
    left: 10px;
    right: 10px;
    height: 20px;
    z-index: 1;
  }

  &__remove-column-button {
    position: absolute;
    top: -25px;
    left: -99999999%;
    opacity: 0;
    transform: translate(-50%, 10px);
    transition: transform 0.15s ease, left 0.15s step-end, opacity 0.15s ease;

    &::after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: -5px;
      width: 0;
      height: 0;
      margin-left: -10px;
      border-style: solid;
      border-width: 10px 10px 0 10px;
      border-color: #e8e8e8 transparent transparent transparent;
    }
  }

  &__remove-column:hover &__remove-column-button {
    left: 50%;
    opacity: 1;
    transform: translate(-50%, 0);
    transition: transform 0.15s ease 0.1s, left 0s step-start 0.1s, opacity 0.15s ease 0.1s;
  }

  &__add-row {
    position: absolute;
    bottom: -10px;
    right: -10px;
    width: 100%;
    height: 20px;
    z-index: 1;
  }

  &__add-row-button {
    position: absolute;
    top: 50%;
    left: -99999999%;
    opacity: 0;
    transform: translate(-10px, -50%);
    transition: transform 0.15s ease, left 0.15s step-end, opacity 0.15s ease;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: -10px;
      width: 0;
      height: 0;
      margin-top: -10px;
      border-style: solid;
      border-width: 10px 10px 10px 0;
      border-color: transparent #e8e8e8 transparent transparent;
    }
  }

  &__add-row:hover &__add-row-button {
    left: 100%;
    opacity: 1;
    transform: translate(0, -50%);
    transition: transform 0.15s ease 0.1s, left 0s step-start 0.1s, opacity 0.15s ease 0.1s;
  }

  &__remove-row {
    position: absolute;
    top: 10px;
    right: -10px;
    bottom: 10px;
    width: 20px;
    z-index: 1;
  }

  &__remove-row-button {
    position: absolute;
    top: 50%;
    left: -99999999%;
    opacity: 0;
    transform: translate(-10px, -50%);
    transition: transform 0.15s ease, left 0.15s step-end, opacity 0.15s ease;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: -10px;
      width: 0;
      height: 0;
      margin-top: -10px;
      border-style: solid;
      border-width: 10px 10px 10px 0;
      border-color: transparent #e8e8e8 transparent transparent;
    }
  }

  &__remove-row:hover &__remove-row-button {
    left: 100%;
    opacity: 1;
    transform: translate(0, -50%);
    transition: transform 0.15s ease 0.1s, left 0s step-start 0.1s, opacity 0.15s ease 0.1s;
  }
}
