<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>{{ page_title }}</title>
  <link rel="stylesheet" href="/sf-engine/modules/GUI/dist/main.css" />
</head>
<body>
  <section class="section">
    <aside class="aside">
      <header class="header">
        {% include "components/user-block/user-block" %}
      </header>
      {% include "components/menu/menu" %}
    </aside>
    {{ content }}
  </section>
  {{ template_includes }}
  <script src="/sf-engine/modules/GUI/dist/common-bundle.js"></script>
  {% if controller %}
  <script src="/sf-engine/modules/GUI/dist/{{ controller }}"></script>
  {% endif %}
</body>
</html>
