<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>{{ page_title }}</title>
  <link rel="stylesheet" href="/sf-engine/modules/GUI/dist/main.css" />
</head>
<body>
  <div class="section">
    <div class="aside">
      <div class="header">
        {% include "components/user-block/user-block" %}
      </div>
      {% include "components/menu/menu" %}
    </div>
    {{ content }}
  </div>
  {{ template_includes }}
  <script src="/sf-engine/modules/GUI/dist/common-bundle.js"></script>
  {% if controller %}
  <script src="/sf-engine/modules/GUI/dist/{{ controller }}"></script>
  {% endif %}
</body>
</html>
