.table {
  width: 100%;
  border-collapse: separate;
}

.table td,
.table th {
  font-size: 15px;
  padding: 10px 20px;
  vertical-align: top;
}

.table thead td,
.table thead th {
  background-color: #EFEFEF;
  font-weight: bold;
  font-size: 14px;
  color: #5d5d5d;
}

.table a {
  color: #000;
  text-decoration: none;
  display: block;
  padding: 10px 20px;
  margin: -10px -20px;
}

.table tbody tr:nth-child(even) td {
  background-color: #f7f7f7;
}
