.form-item {
  padding: 10px 40px;

  &__label {
    color: #353535;
    font-size: 12px;
    font-weight: bold;
  }

  &__container {
    padding-bottom: 5px;
    margin-top: 10px;
    width: 50%;
    position: relative;

    &--flex {
      display: flex;
      align-items: center;
    }

    &--full-width {
      width: 100%;
    }

    &--scroll-wrap {
      overflow: scroll;
      max-height: 200px;
      padding: 0 5px;
      margin: 0 -5px;
    }
  }

  &__error {
    position: absolute;
    top: 100%;
    left: 50%;
    z-index: 3;
    margin-top: 3px;
    transform: translateX(-50%);
    padding: 5px 10px;
    border-radius: 3px;
    border: 1px solid #e65f5f;
    font-size: 14px;
    line-height: 16px;
    color: #ca4848;
    background-color: #fff;
    text-align: center;
    white-space: nowrap;
  }
}
