.menu {
  list-style: none;
  margin-top: 30px;

  &__link {
    color: #EDEDED;
    text-decoration: none;
  }

  &__item {
    height: 20px;
    padding: 5px 20px;

    & + & {
      margin-top: 10px;
    }

    &--active {
      background-color: #393939;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        border-left: 10px solid #393939;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        right: -10px;
        top: 0;
      }
    }

    & + &--configs {
      margin-top: 30px;
    }
  }

}
