.form-table__cell-fake {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  padding: 5px 10px;

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }
}
